.Container {
    height: 22vw;
    width: 18vw;
    margin: 1rem;
}
.OptionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    border-radius: 50px;
    background: #FFF;
    cursor: pointer;
    transition: background-color 0.1s linear;

}

.OptionsContainer button {
    padding: 0.5rem 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid black;

}
.OptionsContainer:hover {
    background-color: rgba(136, 136, 136, 0.5);
    transition: background-color 0.3s linear;
}

.ImgContainer {
    width: 18vw;
    height: 18vw;
}

.BlueIndicator {
    background-color: #5CFF59;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.RedIndicator {
    background-color: #FF2D2D;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.StatusGroup {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.StatusGroup p {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*Tablet*/




}

@media screen and (max-width: 767px) {
    /*Mobile*/
    .Container {
        width: 80%;
        height: 100%;
        background-color: white;
        padding: 1rem 1rem 0.5rem 1rem;
        margin: 1rem auto;
        border-radius: 20px;
    }

    .ImgContainer {
        width: 100%;
        height: 100%;
    }

    .OptionsContainer {
        border-radius: 50px;
        background: #fff;
        cursor: pointer;
        transition: background-color 0.1s linear;
        margin-bottom: 0.5rem;
    }


}